body{
  margin:0px;
}


.nepe:hover{
  cursor: pointer;
}
#tabla{margin-top: -290px;}
.rojo:hover{
  cursor: no-drop;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin-left: 340px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAFd0;
  border-radius: 5px;
}
.form{
  width: 500px;
margin-left: auto;
margin-right: auto;
margin-top: 60px;}
#oculto, #oculto1, #oculto2, #oculto3, #oculto4, #oculto5{
  margin-top: 5px;
  width: 200px;
  text-align: center;
  color: red;
	position: relative;
	background: #ffffff;
	border: 4px solid #f5f5f5;
box-shadow: -1px 10px 15px -11px rgba(0,0,0,0.75);
}
#oculto:after, #oculto:before, #oculto1:after, #oculto1:before, #oculto2:after, #oculto2:before, #oculto3:after, #oculto3:before, #oculto4:after, #oculto4:before, #oculto5:after, #oculto5:before {
	bottom: 100%;
	left: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: -10px;
	position: absolute;
	pointer-events: none;
}
#oculto:after, #oculto1:after, #oculto2:after, #oculto3:after, #oculto4:after, #oculto5:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
#oculto:before, #oculto1:before, #oculto2:before, #oculto3:before, #oculto4:before, #oculto5:before {
	border-color: rgba(245, 245, 245, 0);
	border-bottom-color: #f5f5f5;
	border-width: 16px;
	margin-left: -16px;
}
